
/* styles.css */

/* Navbar styles */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #ff6600; /* Change color on hover */
}

/* Icon styles */
svg {
  font-size: 24px; /* Adjust icon size as needed */
  margin-right: 10px; /* Add space between icon and text */
  transition: transform 0.3s ease-in-out; /* Add a transform animation */
}

/* Add animation when hovering over the icon */
a:hover svg {
  transform: scale(1.2); /* Scale up the icon on hover */
  fill: #ff6600; /* Change icon color on hover */
}

/* Mobile menu button styles */
.mobile-menu-button {
  display: none; /* Hide the button by default */
  cursor: pointer;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}

.mobile-menu-button:hover {
  color: #ff6600;
}

/* Mobile menu styles */
.mobile-menu {
  display: none; /* Hide the menu by default */
  flex-direction: column;
  align-items: center;
  background-color: #333;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}

.mobile-menu a:hover {
  color: #ff6600;
}

/* Show mobile menu button and hide desktop menu on smaller screens */
@media (max-width: 768px) {
  .mobile-menu-button {
    display: block;
  }

  ul {
    display: none;
  }

  ul.mobile-menu {
    display: flex;
  }
}
